<div class="page-header discography-title">
  <h2>Discography <small>Albums and soundtracks</small></h2>
</div>
{{#each data}}
	<div class="col-md-4">
		<div class="thumbnail">
			<img class="media-object" src="{{cover_medium}}" alt="{{title}}" title="{{title}}">
			<div class="caption">
				<h3>{{title}}</h3>
				<p class="clearfix">
					<em>{{fans}} fans</em>
					<a href="#" class="link view-album pull-right" data-id="{{id}}" role="button">Ver</a>
				</p>
			</div>
	    </div>
	</div>
{{/each}}