<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Videos</h3>
    </div>
    <div class="list-group">
	{{#each items}}
		<div class="list-group-item">
			<h3>{{snippet.title}}</h3>
			<div class="video-player">
				<object width="100%" height="240">
					<param name="movie" value="http://www.youtube.com/v/{{id.videoId}}?version=3&amp;hl=es_ES"></param>
					<param name="allowFullScreen" value="true"></param>
					<param name="allowscriptaccess" value="always"></param>
					<embed src="http://www.youtube.com/v/{{id.videoId}}?version=3&amp;hl=es_ES" type="application/x-shockwave-flash" width="100%" height="240" allowscriptaccess="always" allowfullscreen="true"></embed>
				</object>
			</div>
			<p class="video-list-description">{{snippet.description}}</p>
		</div>
	{{/each}}
	</div>
</div>